<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="technology.tilt.network">
    <application>
        <service
            android:name="technology.tilt.sdk.TiltSdkService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            />
    </application>
</manifest>

